<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>54577370442-g0n28c2n7gl0k4u8i8aegvtaep7btah7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.54577370442-g0n28c2n7gl0k4u8i8aegvtaep7btah7</string>
	<key>API_KEY</key>
	<string>AIzaSyBV42cagJlEJRFlVxCRgKfniFA4f3B6uTA</string>
	<key>GCM_SENDER_ID</key>
	<string>54577370442</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Scorely</string>
	<key>PROJECT_ID</key>
	<string>scorely-rn</string>
	<key>STORAGE_BUCKET</key>
	<string>scorely-rn.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:54577370442:ios:36ed7f29a88b3e5b5e5db3</string>
</dict>
</plist>